
src/.idea/src.iml
src/.idea/src.iml
src/.idea/workspace.xml
src/.idea/src.iml
*.class
target/
.idea/workspace.xml
lib/libz3.dll
lib/libz3java.dll
target/classes/automata/fta/FTA.class
target/classes/parser/TermNode.class
target/classes/QSyGuS.class
target/classes/semirings/BooleanSemiring.class
target/classes/semirings/ProbabilitySemiring.class
target/classes/semirings/Semiring.class
target/classes/semirings/TropicalSemiring.class
WTAlib.iml
*.xml
*.class
*.class
*.class
*.class
target/classes/semirings/TropicalSemiring.class
target/classes/automata/Automaton.class
*.class
target/classes/automata/wta/WTA.class
target/classes/automata/Automaton.class
target/classes/automata/wta/WTA.class
target/classes/automata/wta/WTAMove.class
target/classes/QSyGuS.class
target/classes/parser/NTNode.class
target/classes/parser/GTermNode.class
target/classes/grammar/GrammarReduction.class
target/classes/grammar/GrammarReduction$Tuple.class
target/classes/automata/wta/WTAMove.class
.idea/compiler.xml
.idea/modules.xml
.idea/workspace.xml
lib/com.microsoft.z3.jar
lib/libz3.lib
lib/libz3.so
lib/libz3java.lib
lib/libz3java.so
lib/Microsoft.Z3.dll
lib/z3.exe
pom.xml
wtalib.iml
WTAlib.iml
.idea/compiler.xml
.idea/modules.xml
.idea/workspace.xml
